# Database
MONGO_URI=your_mongodb_atlas_uri

# General
PORT=5000
NODE_ENV=production

# Security
SESSION_SECRET=your_random_long_secret_string

# OAuth (Google Cloud Console)
GOOGLE_CLIENT_ID=your_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_secret

# URLs
FRONTEND_URL=https://your-frontend-domain.com
BACKEND_URL=https://your-backend-domain.com
